.avatar{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.indicationTitle{
    font-weight: bold;
}

.changePasswordButton{
    font-weight: bold;
    font-size: 20px;
    background: transparent;
    border-radius: 12px;
    padding: 10px 20px;
    border-color: var(--bs-border-color-translucent);
}